{% extends 'base.html' %} {% block content %}

<div class="section">
  <div class="container">
    <div class="about-content-section">
      <div class="title">
        <h2 class="text-center my-4"><b>ABOUT US</b></h2>
      </div>
      <div class="content">
        <h3>RentCars Company</h3>
        <p>Welcome to our car rental company! We are dedicated to providing high-quality car rental services to our customers. Our goal is to make your rental experience easy, convenient, and affordable.</p>
        <p>We offer a wide range of vehicles to suit your needs, whether you are looking for a compact car for a quick trip or a spacious SUV for a family vacation. Our fleet is regularly maintained and updated to ensure that you have a safe and enjoyable trip.</p>
        <p>At our company, we pride ourselves on our exceptional customer service. Our team of experienced professionals is always ready to assist you with any questions or concerns you may have. We understand that renting a car can sometimes be a daunting experience, which is why we are committed to providing you with a hassle-free rental experience.</p>
        <p>We also offer flexible rental options to suit your schedule. Whether you need a car for a few hours or a few weeks, we have rental plans to fit your needs. Our competitive pricing ensures that you will always receive a great deal on your rental.</p>
        <p>We are committed to providing our customers with a reliable, efficient, and personalized rental experience. We invite you to explore our website and learn more about our services. Contact us today to reserve your rental car and let us help you hit the road!</p>

      </div>
      <h2 class="text-center my-5"><b>Team Members</b></h2>
      <div class="row team-images-section">
        <div class="col col-lg-4">
          <img class="team-img-div" src="https://media.licdn.com/dms/image/C4E03AQGwyiB-1T3JEQ/profile-displayphoto-shrink_800_800/0/1656087455723?e=1688601600&v=beta&t=HyP-MqAhLLGlQL2VJ-MCT5FBZqbvs7lY8x0uZJzpG5M" alt="Avatar">
        </div>
        <div class="col col-lg-4 ">
          <img class="team-img-div" src="https://media.licdn.com/dms/image/D5603AQHmcBl5RgWbcA/profile-displayphoto-shrink_800_800/0/1681265897332?e=1688601600&v=beta&t=XnlAT6BZsYtgYDQWCi52UX9RFiocFabK-UYtXB0TZ4Y" alt="Avatar">
        </div>
        <div class="col col-lg-4">
          <img class="team-img-div" src="https://media.licdn.com/dms/image/D4E03AQGAuobeexw9Ug/profile-displayphoto-shrink_800_800/0/1682773692256?e=1688601600&v=beta&t=Rp-iOH23gh6R8vZjvBgIbhs8BQpWVC8XqQ6I6PpdeJA" alt="Avatar">
        </div>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/"
          ><i class="fab fa-facebook fa-2x"></i
        ></a>
        <a href="https://www.instagram.com/"
          ><i class="fab fa-instagram fa-2x"></i
        ></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
