{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class='row'>
        <div class="col col-md-12 col-lg-4 car-card-div">
            <div class="card" style="width: 18rem">
              <img
                src="{{ car.image.url }}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">{{ car.marque }} - {{ car.model }}</h5>
                <div class="col col-12">
                  <span class="car-price">{{ car.prix | floatformat }} Dh/Day<span>
                </div>
                <div class="row">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Doors</td>
                        <td>{{ car.nb_portes}}</td>
                      </tr>
                      <tr>
                        <td>Passengers</td>
                        <td>{{ car.nb_passager }}</td>
                      </tr>
                      <tr>
                        <td>Fuel</td>
                        <td>{{ car.carburant }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
        <div class="col col-md-12 col-lg-8" >
            {% if not carAvailability %}
            <form method="POST" action="{% url 'checkavailability' car.id %}">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" class="btn btn-lg btn-success">Check Availability</button>
                {% if date_errors %}
                <div class="alert alert-danger" role="alert">
                  The car is not available in this dates!
                </div>
                {% endif %}
                {% if successful_res %}
                <div class="alert alert-success" role="alert">
                  Added Reservation Successfull
                </div>
                {% endif %}
            </form>
            {% endif %}

            {% if carAvailability %}
            <form method="POST" action="{% url 'rentCar' car.id %}">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" class="btn btn-lg btn-primary">Add Reservation</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}