{% extends 'base.html' %} {% block content %}
<div class="container car-listing-section">
  <div class="row">
    {% for car in cars %}
      <div class="col col-md-12 col-lg-4 car-card-div">
        <div class="card" style="width: 18rem">
          <img
            src="{{ car.image.url }}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ car.marque }} - {{ car.model }}</h5>
            <div class="col col-12">
              <span class="car-price">{{ car.prix | floatformat }} Dh/Day<span>
            </div>
            <div class="row">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Doors</td>
                    <td>{{ car.nb_portes}}</td>
                  </tr>
                  <tr>
                    <td>Passengers</td>
                    <td>{{ car.nb_passager }}</td>
                  </tr>
                  <tr>
                    <td>Fuel</td>
                    <td>{{ car.carburant }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a href="#" class="btn btn-primary">Rent now</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
